.cabecalho__menu__hambuguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__image {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color:var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    text-decoration: none;
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__titulo {
    display: none;
}

.container__opções {
    display: none;
}

@media screen and ( min-width: 1024px) {

    .cabecalho__menu__hambuguer,
    .container__image--favoritos{
        display: none;
    }

    .container__titulo {
        padding: 0.2em 0 0 0;
        font-family: var(--font-secundaria);
        display: block;
        font-size: 1.875rem;
        font-weight: 400;
    }

    .container__itens {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        padding: 0 2em;
    }

    .container__titulo--negrito {
        font-weight: 700;
        font-size: 1.875rem;
    }

    .container__opções {
        display: flex;
    }

    .container__links {
        color: #000000;
        text-decoration: none;
    }

    .opções-botão:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opções-botão {
        display: none;
    }


}
    